@charset "UTF-8";

body{ 
    background-color: rgba(0, 0, 0, 0.758);
}

#chtl-inline-bot{
    width: 70%;
    height: 200px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 60px;
}

@media (max-width: 768px) {
    #chtl-inline-bot{
        width: 100%;
        height: 550px;
    }
    
}
@media(max-width: 480px){
    #chtl-inline-bot{
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 1024px){
    #chtl-inline-bot{
        width: 70%;
        height: 700px;
    }
}

@media(max-width: 1280px){
   #cht-inline-bot
    {
        width: 70%;
        height: 700px;
}

}

